<% if user_signed_in? && @user.id == current_user.id %>
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center">
        <h4 class="mt-5">本当に退会しますか？</h4>
        <p class="mt-3">退会すると、会員登録情報や</br>
        これまでの投稿閲覧できなくなります。</br>
        退会する場合は、「退会する」をクリックしてください。</p>
        <div class="col-10 mt-2 mx-auto">
          <%= link_to "退会しない", user_path(@user.id), class:"btn btn-info btn-sm mr-5" %>
          <%= link_to "退会する", hide_user_path(id: @user.id, is_deleted: true), method: :patch, class:"btn btn-sm btn-danger" %>
        </div>
      </div>
    </div>
  </div>
<% end %>