<div class='container'>
    <div class='row'>
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <div class="form-group">
              <h2 class="about">サイトについて</h2>
              <p>・当サイト「彩（いろどり）」は、店舗装飾やPOP作成の共有をテーマにした投稿サイトです。<br>
              ・「”春”をテーマに装飾設計したいけど、何を使ったら良いのか分からない」「装飾やPOPのアイデアが浮かばない」
              「他の人の投稿を参考にもっと勉強したい」といった悩みに役立つ情報を提供します。<br>
        </div>
        <div class="form-group">
              <h2 class="about">みんなの投稿</h2>
              <p>・ユーザー登録後、投稿の閲覧ができます。季節別の装飾の閲覧は勿論のこと、季節に属さないPOP等はその他で見ることができます。
              みんなの投稿ページでは、ユーザーや投稿タイトルで見たい投稿を探すことも可能です。
        </div>
        <div class="form-group">
              <h2 class="about">マイページ</h2>
              <p>・自分が投稿した装飾を一覧で確認することができます。また、いいねをした投稿の一覧を見ることができます。<br>
              ・自分がフォローした一覧・フォローされているユーザーの一覧を確認することができます。</p>
              <strong class="crayon">記事閲覧、投稿には簡単なユーザー登録が必要です。</strong></p>
        </div>
      </div>
    </div>
  </div>
