<div id ="aboutdecration">
<div class="container">
  <div class="row">

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="spring-top.jpg" class="d-block w-100" alt="image">
        </div>
        <div class="carousel-item">
          <img src="summer-top.jpg" class="d-block w-100" alt="image">
        </div>
        <div class="carousel-item">
          <img src="autumn-top" class="d-block w-100" alt="image">
        </div>
        <div class="carousel-item">
          <img src="winter-top" class="d-block w-100" alt="image">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>

    </div>
    <div class="col-lg-6 col-lg-offset-3">
    </div>
  </div>
  <div class="container">
    <div class="row centered mt mb">
      <div class="col-lg-8 col-lg-offset-2">
        
        <img src="./img/area01_t01.png" alt="サイトについて">
        
        
        
        <h2>サイトについて</h2>
        <p>・当サイト「彩（いろどり）」は、店舗装飾やPOP作成をテーマにした投稿サイトです。<br>
        ・「”春”をテーマに装飾設計したいけど、何を使ったら良いのか分からない」「装飾やPOPのアイデアが浮かばない」
        「他の人の投稿を参考にもっと勉強したい」といった悩みに役立つ情報を提供します。<br>

        <h2>みんなの投稿</h2>
        <p>・ユーザー登録後、投稿の閲覧ができます。季節別の装飾の閲覧は勿論のこと、季節に属さないPOP等はその他で見ることができます。
        みんなの投稿ページでは、ユーザーや投稿タイトルで見たい投稿を探すことも可能です。

        <h2>マイページ</h2>
        <p>・自分が投稿した装飾を一覧で確認することができます。また、いいねをした投稿の一覧を見ることができます。<br>
        ・自分がフォローした一覧・フォローされているユーザーの一覧を確認することができます。</p>
        <strong class="crayon">記事閲覧、投稿には簡単なユーザー登録が必要です。</strong></p>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>