<div class="container">
  <div class="row">
    <div class="mx-auto col-10 col-sm-10 col-lg-10 col-xl-10 px-3">
    </div>
  </div>
  <div class="row">
    <div class="col-3 mt-2 ml-5">
      <h3>サイトについて</h3>
      <h5>当サイトは装飾やPOPの投稿・閲覧をお楽しみいただけます。<br>
      初めての方はまずは下記『いろどりとは』にて、詳しい説明をご確認ください。</h5>
    </div>
  </div>
  <div class="row">
    <div class="access-buttons">
      <a href="/about">
        <button class="btn" type="submit">
        <!--<i class="fa fa-sun-o" aria-hidden="true" style="color: #8CC3E2; font-size: 40px;"></i>-->
        いろどりとは
        </button>
      </a>
    </div>
    <div class="access-buttons">
      <a href="/about">
        <button class="btn" type="submit">
        <!--<i class="fa fa-sun-o" aria-hidden="true" style="color: #8CC3E2; font-size: 40px;"></i>-->
        新規登録
        </button>
      </a>
    </div>
    <div class="access-buttons">
      <a href="/about">
        <button class="btn" type="submit">
        <!--<i class="fa fa-sun-o" aria-hidden="true" style="color: #8CC3E2; font-size: 40px;"></i>-->
        ログイン
        </button>
      </a>
    </div>
    <div class="access-buttons">
      <a href="/about">
        <%= link_to 'ゲストログイン（閲覧用）', homes_guest_sign_in_path, method: :post %>
        
        <!--<button class="btn" type="submit">-->
        <!--<i class="fa fa-sun-o" aria-hidden="true" style="color: #8CC3E2; font-size: 40px;"></i>-->
        <!--簡単ログイン-->
        <!--</button>-->
      </a>
    </div>
  </div>
</div>
