<% if @model == 'user' %>
	<h3>Users search for "<%= @content %>"</h3>
  <%= render 'users/index', users: @records %>
<% elsif @model == 'post' %>
	<h3>Posts search for "<%= @content %>"</h3>
  <%= render 'posts/index', posts: @records %>
<% end %>