<% if @model == 'user' %>
  <h3>User search for"<%= @content %>"</h3>
  <%= render 'users/index', users: @records %>
<% elsif @model == 'post' %>
  <h3>Post search for"<%= @content %>"</h3>
  <%= render 'posts/index', posts: @records, user: @user %>
<% end %>
