<section class="ranking">
    <h2 class="sidebar-heading common-heading">いいね投稿ランキング</h2>
        <div class="sidebar-contents">
          <% all_ranks.each.with_index(1) do |post, i | %>
            第
             <%= i %>
            位
            <%= post.title %>
            <%= attachment_image_tag post, :image, class: "card-img-top" %>
          <% end %>
        </div>
  </section>