  <div class='container'>
    <div class='row'>
      <div class="ranking">
        <%= render "posts/ranking", all_ranks: @all_ranks %>
      </div>
      <p>おすすめの投稿</p>
        <% @recommendations.each do |recommendation| %>
          <%= link_to post_path(recommendation.post) do %>
              <%= recommendation.attachment_image_tag post, :image, :fill, 200, 150, size: "200x150" %>
          <% end %>
        <% end %>
    </div>
    <div id='season'>
      <%= render 'posts/season.content', genre_name: @genre_name, posts: @posts %>
    </div>
  </div>
