  <div class='container'>
    <div class='row'>
      <div class="ranking">
        <%= render "posts/ranking", all_ranks: @all_ranks %>
      </div>
    </div>
    <div id='season'>
      <%= render 'posts/season.content', genre_name: @genre_name, posts: @posts %>
    </div>
  </div>
