<h1>投稿一覧</h1>
<% @posts.each do |list| %>
  <p>タイトル</p>
  <span>
    <%=link_to posts.title, posts_path(post.id) %>
  </span>
  <p>画像</p>
  <%= attachment_image_tag post, :image, :fill, 100, 100, format: 'jpeg' %><% end %>