// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top {
  height: 100vh;
  width: 100%;
  background-image: image-url("top-image5.jpg");
  background-size: cover;
}

.top-title {
  padding-top: 200px;
  font-size: 64px;
}

.sub-title {
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
}


.about {
  text-align: center;
}

.about::after {
  content: "";
  display: block;
  height: 3px;
  width: 70px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
}

#carouselExampleControls {
    width: 700px;
    height: 500px;
    margin:  0 auto;
    margin-top: 50px;
}

.about {
  text-align: center;
}

.introduce {
  margin-bottom: 50px;
}

