// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts-show {
    text-align: center;
    margin-top: 30px;
}

.posts-index {
    text-align: center;
}

.nav_season {
    text-align: center;
}

.ranking {
    margin: 30px;
}

.posts-index {
    margin-top: 60px;
}


.search {
    margin: 0 0 0 auto;
}

.title {
    text-align: center;
}

.ranking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.season {
    width:700px;
    margin-right: auto;
    margin-left : auto;
    padding: 20px;
    font-size: 20px;
}


.season-title {
    text-align: center;
}


.card-img-top{
    height:  200px;
    width: auto;
    object-fit: cover;
}


.image-top {
    height:  50%;
    width: auto;
    object-fit: covers;
    // width: auto;
    // height: auto;
    // max-width: 100%;
    // max-height: 100%;
}

.new {
    margin-top: 20px;
}


.card-title{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(49, 170, 226) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;

}

.card-title:hover{
  background-position: -100% 0;
  color: #fff;
}


.img_wrap{
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
}

.img_wrap img{
  transition-duration: 0.5s;
}

.img_wrap:hover img{
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.recommendation {
    margin-top: 60px;
    margin-left: 30px;
}

.recommendation-post {
    font-size: 20px;
    text-align: center;
}

.recommendation-image {
    margin-top: 5px;
}


/*ページネーション自体のデザイン*/
.pagination>li>a.page-link {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
  padding: 0.5rem 0.8rem;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a.page-link {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 30px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}